
#articles {
    width:95%;
    margin: 10px auto 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}


.article {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self:center;
    margin: 15px 15px 15px 15px;
    padding: 2px 5px 5px 5px;
    width: 95%;
    height:110px;
    box-shadow:0 0 3px rgba (0,0,0,0.5);
    background-color:var(--bg2-color);
    border-radius: 15px;
    border-bottom:2px solid var(--border-color);

}


.cover {
    display: block;
    margin: 5px auto 5px auto;
    width:98% ;
    height: auto;

    }

.cover img  {
    width:100%;
    height:auto;
    border-radius: 4px;

}

.article-heading
{
    margin: 5px 0px 15px 0px;
    align-self: start;
    width: 100%;
    text-align: center;   

}
h3 {
    color:var(--font-color) ;
}
.article-heading h2,.article a
{
    font-size:15px ;
    text-decoration: none;
    color:var(--heading-color);
   
}




.article-details {
    width: 96%;
    line-height:1.5;
    color:var(--font-color) ;
    font:  normal normal 10pt "Roboto";
    
}

.article-date {
    align-self: flex-end;
    margin:5px 20px  0px 0px;
    color: darkgrey;
    font: italic normal normal 8pt "Roboto";

}

.article-date a {
    text-decoration: none;
    color: #373147;

    }


.article a:hover
 {
    text-decoration:underline;
 }

.posts_title {
    text-align:center ;
    margin-bottom:10px;

}



@media only screen and (min-width: 768px) {
    /* For desktop: */

     #articles {
        display: grid;
        justify-content:center;
        align-items: center;
        grid-template-columns: repeat(auto-fill,minmax(325px,1fr));
        gap:20px ;

    }

    .article {
        width:320px ;

    }
    .article-details {

    font-size:10pt ;
    
}




}